<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 목록보기</title>
    <link rel="stylesheet" href="board.css" />
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>부부 개발단 - 글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
          <span class="login-info_user" th:if="${loginInfo != null}">
            <span th:text="${loginInfo.name}"></span>
          </span>
            <span class="login-info_logout" th:if="${loginInfo != null}">
            <a href="/logout">로그아웃</a>
          </span>
            <span class="login-info_login" th:if="${loginInfo == null}">
            <a href="/loginform">로그인</a>
          </span>
            <span class="login-info_join" th:if="${loginInfo == null}">
            <a href="/userRegForm">회원가입</a>
          </span>
        </div>
    </div>

    <!-- board list area -->
    <div id="board-list">
        <div class="container">
            <table class="board-table">
                <thead>
                <tr>
                    <th scope="col" class="th-num">번호</th>
                    <th scope="col" class="th-title">제목</th>
                    <th scope="col" class="th-viewcnt">조회수</th>
                    <th scope="col" class="th-name">작성자</th>
                    <th scope="col" class="th-date">등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.boardId}"></td>
                    <th>
                        <a th:href="@{/board(boardId=${board.boardId})}" th:text="${board.title}"></a>
                    </th>
                    <td th:text="${board.viewCnt}"></td>
                    <td th:text="${board.name}"></td>
                    <td th:text="${board.regdate}"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div>
            <a href="/writeForm" th:if="${loginInfo != null}">글쓰기</a>
            <span th:if="${loginInfo == null}">글쓰기</span>
        </div>
        <div>
            <span th:each="n : ${#numbers.sequence(1, pageCount)}"><a th:href="@{/(page=${n})}" th:text="${n}"></a></span>
        </div>
    </div>
</section>
</body>
</html>
