<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입폼</title>
</head>
<body>
<h1>회원가입폼</h1>
<!-- http://localhost:8080/userReg -->
<form action="/userReg" method="post">
    이름 : <input type="text" name="name" /><br />
    email : <input type="text" name="email" /><br />
    암호 : <input type="password" name="password" /><br />
    <input type="submit" value="회원가입" />
</form>
</body>
</html>